@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ysabeau+SC:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.aboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0d47a1;
  padding-top: 70px;
  height: 100vh;
  background-color: #e0f2f1;
  /* Adjust as needed */
}

.abouttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.abouttext {
  font-size: 100px; /* Adjust font size */
  text-align: center; /* Center text horizontally */
}

.aboutsec {
  width: 70%;
  font-size: 20px;
  padding: 50px;
  animation: slideRight 1.5s forwards;
}
.aboutsec h3 {
  margin: 20px;
}

@media (max-width: 950px) {

  .abouttext {
    font-size: 60px; /* Further decrease font size for smaller screens */
  }
  .aboutsec {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .aboutsec {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .abouttext {
    font-size: 30px; /* Further decrease font size for smaller screens */
  }

  .aboutsec {
    width: 100%;
    font-size: 16px;
  }
}
