.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100vh;
  background-color:white;


}
.homeconmainallthree{
  /* background-color: aqua; */
  display: flex;
  align-items:center ;
  justify-content: center;
  width: 80%;
}

.portimage{
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 1500px;
}

.lefthomecon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  /* background-color: blue; */
}

.verticalconconatct {
  padding: 10px;
}

.contact-link {
  font-size: 25px;
  color: #2e2e2e;
  padding: 10px;
}
.onetwothree{
  width: 100%;
}
.contactcon {
  /* background-color: rgb(242, 233, 222); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.contact-link:hover {
  color: rgb(100, 69, 69);
}

.introcon {
  width: 90%;
  height: max-content;
  
}

.introheadtxt {
  margin-top: 5px;
  font-size: 50px;
  font-weight: 400;
}

.intropara {
  font-size: 25px;
  padding: 10px 0px;
}

.cvbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(225, 205, 205);
}

.cvbtn:hover {
  background-color: antiquewhite;
}

@media (max-width: 1400px) {
  .homeconmainallthree{
    width: 90%;
  padding-top: 100px;

  }
  
}
@media (max-width: 1300px) {
  .homeconmainallthree{
    width: 100%;
  }
  .portimage{
    height: 450px;
    width: 450px;
  }
}
@media (max-width: 1120px) {
  .homeconmainallthree{
   flex-direction: column;
  }
  .lefthomecon{
    text-align: center;
  }
  .container{
    height: max-content;
  }
  .portimage{
    height: 350px;
    width: 350px;
  }
  
}

@media (max-width: 900px) {
  .introheadtxt {
    font-size: 25px;
    font-weight: 400;
   
  }
  
  .intropara {
    font-size: 15px;
    padding: 10px 0px;
  }
  .portimage{
    height: 300px;
    width: 300px;
  }
  
}