@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ysabeau+SC:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}

.homeconmainallthree {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

.portimage {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 150px;
  margin: 20px;
}

.lefthomecon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.contactcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.contact-link {
  font-size: 25px;
  color: #2e2e2e;
  padding: 10px;
}

.contact-link:hover {
  color: rgb(100, 69, 69);
}

.introcon {
  width: 100%;
  max-width: 500px;
}

.introheadtxt {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 400;
}

.intropara {
  font-size: 18px;
  padding: 10px 0;
}

.cvbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(225, 205, 205);
}

.cvbtn:hover {
  background-color: antiquewhite;
}

@media (min-width: 1200px) {
  .portimage {
    height: 500px;
    width: 500px;
    border-radius: 250px;
  }

  .introheadtxt {
    font-size: 50px;
  }

  .intropara {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .homeconmainallthree {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .portimage {
    height: 250px;
    width: 250px;
    border-radius: 125px;
  }

  .introheadtxt {
    font-size: 25px;
  }

  .intropara {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .portimage {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }

  .introheadtxt {
    font-size: 20px;
  }

  .intropara {
    font-size: 14px;
  }
}
