* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projcontainer {
  padding-top: 80px;
  background-color: #f3e5f5;
  color: #6a1b9a;
  width: 100%;
  padding-bottom: 40px;
  min-height: 100vh;
}

.projtitle {
  margin-bottom: 40px;
}

.projh2 {
  text-align: center;
  font-size: 3rem;
  position: relative;
  animation: slideTop 1.5s forwards;
}

@keyframes slideTop {
  0% {
    top: -30%;
  }
  100% {
    top: 0;
  }
}

.itemcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #dec9e1;
  border-radius: 6px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  width: 25%;
  height: max-content; /* Fixed height for uniformity */
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 15px;
  flex-grow: 1;
}

.card-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #6a1b9a;
}

.project-link {
  color: #6a1b9a;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
  transition: color 0.3s;
}

.project-link:hover {
  color: #4e342e;
}

.project-description {
  margin-top: 10px;
  font-size: 1rem;
  text-align: justify;
  color: #4e342e;
}

@media (max-width: 950px) {
  .card {
    width: 45%;
  }

  .projh2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }

  .projh2 {
    font-size: 2rem;
  }
}
