* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and borders are included in width and height */
}

.skillcon {
  color: #333333;
  min-height: 100vh;
  background-color: #e8f5e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px; /* Add some bottom padding */
}

.skillh2 {
  font-size: 100px;
  width: 100%;
  text-align: center; /* Center text horizontally */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.aboutitle {
  width: 100%;
}

.iconconatiners {
  width: 100%; /* Ensure it uses full width */
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemms:hover{
 background-color:#daf1dc ;
}
.iconcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Ensure items are centered */
  width: 80%; /* Ensure it uses full width */
  /* background-color: #333333; */
}

.itemms {
  flex: 0 1 calc(16.66% - 20px); /* Take up one-sixth minus margin */
  margin: 10px; /* Margin around each item */
  display: flex;
  flex-direction: column; /* Ensure icons and text are in a column */
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px; /* Make font size smaller */
  background-color: white; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better look */
  aspect-ratio: 1 / 1; /* Ensure the items are square */
  cursor: pointer;
}

.fntskill {
  margin: 10px 0; /* Add margin between icon and text */
  font-size: 16px; /* Adjust font size for skill name */
}

.progress-bar {
  width: 80%; /* Adjust width as needed */
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 10px; /* Adjust height as needed */
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50; /* Adjust color as needed */
}

.skill-level {
  margin-top: 5px; /* Add margin between progress bar and percentage */
  font-size: 14px; /* Adjust font size for percentage */
}

@media (max-width: 950px) {
  .itemms {
    flex: 0 1 calc(33.33% - 20px); /* Three items per row */
  }
  
  .skillh2 {
    font-size: 75px; /* Decrease font size */
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  .skillcon {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 500px) {
  .itemms {
    flex: 0 1 calc(50% - 20px); /* Two items per row */
  }
  
  .skillh2 {
    font-size: 50px; /* Further decrease font size */
    margin-bottom: 5px; /* Adjust margin as needed */
  }

  .skillcon {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
